html, body{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

div.sony{
    background-color: black;
}

div.sony img{
    height: 20px; 
}


div.cabecera img{
    height: 50px;
}

div.cabecera{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.menucabecera {
    display: flex;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 10px;
    }
    

article.haaland img{
    width: 100%;
    height: 100%;
}

article.juegos{
    display: flex;
}

section img{
    height: 152px;
    margin: 8px;
}

